.bigal
{
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

.loginlinks
{
    font-size: 20px;
    text-align: center;
}

#tableBody
{
    margin-bottom: 70px;
    float: right;
    font-size: 30px;
    text-align: center;
}

.pageheader
{
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.pagetextheader
{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    border: 10px black;
}

.forms
{
    text-align: center;
    font-size: 24px;
}

.vendorhistorybutton
{
    text-align: center;
    font-size: 24px;
}

.table td
{
    font-size: 30px;
    text-align: center;
}

.table th
{
    font-size: 30px;
    text-align: center;
}

.cardimage
{
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.center
{
    float: right;
    margin-right: 32.75%;
}

.imagecards
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.bgcolor
{
    background-color: rgb(180, 239, 135);
}

#acceptBusinessHeader,
#acceptBookedHeader,
#businessTableHeader {
    font-size: 18px;
    font-weight: bold;
    background-color: #035200; 
    color: #fff; 
    padding: 8px;
}

#businessApproveTable,
#bookedApproveTable,
#businessTable,
#customerTable {
    border-collapse: collapse;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#businessApproveTable td,
#bookedApproveTable td,
#businessTable td,
#customerTable td {
    border: 1px solid #ddd; 
    text-align: left;
    padding: 6px;
    background-color: #f0f0f0;
}

#businessApproveTable th,
#bookedApproveTable th,
#businessTable th,
#customerTable th {
    padding-top: 20px;
    background-color: #035200; 
    color: #fff; 
}

button {
    background-color: #29b929;
    color: #fff; 
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    transition-duration: .5s;
    border: 1px solid #29b929;
}

button:hover {
    background-color: #f0f0f0;
    color: #29b929;
    border: 1px solid #000000;
}

