.bigal
{
    height: 852px;
}

.header
{
    float: right;
    margin-right: 100px;
    font-size: 27px;
    text-align: center;
}

.loginlinks
{
    font-size: 20px;
    text-align: center;
}

#tableBody
{
    margin-bottom: 70px;
    float: right;
    font-size: 30px;
    text-align: center;
}

.pageheader
{
    position: relative;
    text-align: center;
}

.pagetextheader
{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

/* .table
{
    border: 1px solid;
    border-collapse: collapse;
} */

/* .table tr
{
    border: 1px solid;
    border-collapse: collapse;
}

.table td
{
    border: 1px solid;
    border-collapse: collapse;
} */

.imagecards
{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* image cards */
/* .polaroid 
{
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
img 
{
    width: 100%
}

div.container 
{
    text-align: center;
    padding: 10px 20px;
} */

.bgcolor
{
    background-color: rgb(180, 239, 135);
}